.top-link {
  position: fixed;
  font-size: 48px;
  background-color: $color-grey-dark;
  bottom: 0;
  right: 0;
  z-index: 99;
  cursor: pointer;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

.section-about {
  background-color: $color-grey-light-1;
  padding: 15rem 0 1rem;

  text-align: center;
  margin-top: -20vh;

  @include respond(tab-port) {
    margin-top: -12vh;
  }
}

.section-content {
  background-color: $color-grey-light-1;

  display: flex;
  padding: 0 10rem 21rem;
  margin-bottom: 10rem;
  height: 35rem;

  @include respond(tab-port) {
    align-items: center;
    flex-direction: column;
    margin-bottom: 18rem;
  }

  &__text-box {
    flex-basis: 50%;
    @include respond(tab-port) {
      text-align: center;
      padding: 0 12rem;
    }
    @include respond(phone) {
      padding: 0;
    }
  }

  &__image-box {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
  }
}

.svg-icons {
  width: 116px;
  transition: all 0.2s;
  &--js {
    width: 100px;
    padding-bottom: 1rem;
  }
  &:hover {
    transform: scale(1.1);
    border-bottom: 1px solid black;
    // box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }
}

.svg-icons:first-child {
  width: 101.5px;
}

.feature-box__container {
  display: flex;
  justify-content: center;
  padding: 0 6rem;
  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(#83c1de, 0.4),
      rgba(#279fc3, 0.4)
    ),
    url(../img/blue-city.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -17.5rem;

  & > * {
    transform: skewY(7deg);
  }
}

.projects {
  background-color: $color-grey-light-1;
  padding: 25rem 0 0 0;
  margin-top: -16rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
